<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="images/fav.png">
    <!-- bootstrap v3.3.7 css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="~/css/off-canvas.css">
    <!-- linea-font css -->
    <link rel="stylesheet" type="text/css" href="~/fonts/linea-fonts.css">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="~/fonts/flaticon.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/inc/custom-slider/css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="~/inc/custom-slider/css/preview.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" href="~/css/rsmenu-main.css">
    <!-- rsmenu transitions css -->
    <link rel="stylesheet" href="~/css/rsmenu-transitions.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="~/css/rs-spacing.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css"> <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="defult-home">
    @{
        string youtubeUrl = "http://www.youtube.com/@cdupartnerslaw";
        string facebookUrl = "https://www.facebook.com/CDUPartnersHukuk";
        string twitterUrl = "https://twitter.com/cdupartnerslaw";
    }
    <!-- Preloader area start here   -->
    <div id="loading" class="image-preloader">
        <div class="loader"><img src="~/images/company/color_transparent.png" alt=""></div>
    </div>
    <!--End preloader here -->
    <!--Full width header Start-->
    <div class="full-width-header header-transparent">
        <!-- Toolbar Start -->
        <div class="toolbar-area hidden-md">
            <div class="container-fluid">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="toolbar-contact">
                            <ul>


                                <li><i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905078116504">+90 507 811 65 04</a></li>
                                <li>
                                    <i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905078274768">+90 507 827 47 68</a>

                                </li>
                                <li>
                                    <i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905551740072">+90 555 174 00 72</a>

                                </li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:cduhukuk@gmail.com">cduhukuk@gmail.com</a></li>
                                <li><i class="fa fa-clock-o"></i> 08:30 - 18:00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <div class="toolbar-sl-share">
                            <ul>
                                <li><a target="_blank" href="@facebookUrl"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://instagram.com/cdupartnerslaw"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="@twitterUrl"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="@youtubeUrl"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo-area">
                                <a class="light" href="/"><img src="~/images/company/color_transparent.png" alt="logo"></a>
                                <a class="dark" href="/">@*<img src="~/images/logo.png" alt="logo">*@</a>
                            </div>
                        </div>
                        <div class="col-lg-9 text-right">
                            <div class="rs-menu-area">
                                <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a class="rs-menu-toggle">
                                            <i class="fa fa-bars" style="color:black"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <li class="current-menu-item">
                                                <a href="/" class="main-page">Anasayfa</a>
                                            </li>
                                            <li><a href="/About/Index" class="about-us-page">Hakkımızda</a></li>
                                            <li><a href="/About/Index" class="our-team">Ekibimiz(CS)</a></li>
                                            <li><a href="/Blog/Blogs" class="blog-page">Bloglar</a></li>
                                            <li><a href="/About/Index" class="we-are-on-the-press">Basında Biz</a></li>
                                            <li><a href="/Contact/Index" class="contact-page">İletişim</a></li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
            <!-- Canvas Menu start -->
            <nav class="right_menu_togle hidden-md">
                <div class="close-btn"><span id="nav-close" class="text-center"><i class="fa fa-close"></i></span></div>
                <div class="canvas-logo">
                    <a href="/"><img src="images/logo.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                </div>
                <div class="canvas-contact">
                    <h5 class="canvas-contact-title">Contact Info</h5>
                    <ul class="contact">
                        <li><i class="fa fa-globe"></i>Middle Badda, Dhaka, BD</li>
                        <li><i class="fa fa-phone"></i>+123445789</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
                        <li><i class="fa fa-clock-o"></i>10:00 AM - 11:30 PM</li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@twitterUrl"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="@youtubeUrl"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->
    <!-- Main content Start -->
    <div class="main-content">
        @RenderBody()
    </div>


    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget-one md-mb-50">
                        <div class="about-widget">
                            <a href="index.html">
                                <img src="images/white-logo.png" alt="Footer Logo">
                            </a>
                            <div class="footer-info">
                                <p class="footer-desc">Hukuki konularda size destek sunan profesyonel bir ekibin parçasıyız ve müvekkillerimizin haklarını savunmak, sorunlarını çözmek ve ihtiyaçlarına hızlı bir şekilde yanıt vermek için buradayız. </p>
                                <p class="footer-desc">Siz değerli müvekkillerimizin hukuki sorunlarını çözmek için tutkulu ve kararlıyız.</p>
                            </div>
                            <ul class="social-links">
                                <li><a target="_blank" href="@facebookUrl"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://instagram.com/cdupartnerslaw"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="@twitterUrl"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="@youtubeUrl"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget-two md-mb-50">
                        <h5 class="footer-title">Bize Ulaşın</h5>
                        <div class="desc mb-24">Mevcut hukuki uyuşmazlığınız ile alakalı bize başvurunuz.</div>
                        <ul class="footer-address">
                            <li>
                                <i class="fa fa-clock-o"></i>Pazartesi
                                – Cuma: 08:30 - 18:00
                            </li>

                            <li><i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905078116504">+90 507 811 65 04</a></li>
                            <li><i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905078274768">+90 507 827 47 68</a></li>
                            <li><i class="fa fa-phone"></i><a href="whatsapp://send?phone=+905551740072">+90 555 174 00 72</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:cduhukuk@gmail.com">cduhukuk@gmail.com</a></li>
                            <li><i class="fa fa-globe"></i><a target="_blank" href="https://maps.app.goo.gl/e4wodWq6JDKx9ThMA">Fulya Mahallesi, Ortaklar Caddesi No:45 Daire 3 Şişli/İstanbul</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget-three md-mb-50">
                        <h5 class="footer-title">Basında Biz</h5>
                        <div class="footer-news">
                            <div class="news-item">
                                <div class="image-part">
                                    <img src="images/youtube/children.jpg" alt="">

                                </div>
                                <div class="content-part">
                                    <a class="title" target="_blank" href="https://www.youtube.com/watch?v=E3Dc8Mq0RFk">Suça sürüklenen çocuklar topluma nasıl kazandırılır?</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="image-part">
                                    <img src="images/youtube/tenant.jpg" alt="">
                                </div>
                                <div class="content-part">
                                    <a class="title" target="_blank" href="https://www.youtube.com/watch?v=KUKat9jlqAc">Kiracıların tahliye taahhütnamesindeki imzaya itiraz hakları</a>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="image-part">
                                    <img src="images/youtube/filled-in-lastly.jpg" alt="">
                                </div>
                                <div class="content-part">
                                    <a class="title" target="_blank" href="https://www.youtube.com/watch?v=f6hZt7s1mpY">Sonradan doldurulan tahliye taahhütnamesi geçerli midir?    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget-four">
                        <h5 class="footer-title">Biz size ulaşalım</h5>
                        <p class="desc">Yaşamış olduğunuz problemle ilgili lütfen bize mail adresinizi bırakın. Sizi hemen arayalım.</p>
                        <div class="footer-newsletter">
                            <input type="email" name="email" placeholder="Email Adresiniz" required>
                            <button type="button"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright text-center">
                    <p>&copy; 2019 CDU+PartnerS LAW FIRM</p>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .fixed-template-for-contact {
            position: fixed;
            min-width: 474px !important;
            opacity: 0.8;
            bottom: 0;
            left: 37%;
            font-size: 28px;
            background-color: gray;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999999999;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .template-for-contact-item {
            margin-left: 55px;
        }

        .template-for-contact-last-item,
        .template-for-contact-item {
            color: #1f2839 !important;
        }

        .template-for-contact-last-item {
            margin-left: 55px;
        }

        .template-for-contact-item:after {
            top: 0;
            margin-left: 19px;
            content: '';
            background-color: black;
            height: 100%;
            width: 2px;
            position: absolute;
        }

        .first-item {
            margin-left: 12px !important;
        }

        @@media screen and (max-width: 440px) {
            .fixed-template-for-contact {
                position: fixed;
                min-width: 432px !important;
                opacity: 0.8;
                bottom: 0;
                left: 0%;
                font-size: 27px;
                background-color: gray;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 999999999;
            }

            .template-for-contact-item {
                margin-left: 38px;
            }

            .first-item {
                margin-left: 19px !important;
            }
        }

        @@media screen and (max-width: 391px) {
            .first-item {
                margin-left: -25px !important;
            }
        }


        @@media screen and (min-width: 350px) {
            .first-item {
                margin-left: -50px !important;
            }
        }
    </style>
    <div class="fixed-template-for-contact">
        <div class="d-flex" style="color:black">
            <a href="tel:+905078116504" class="template-for-contact-item first-item"><i class="fa fa-phone"></i> Ara</a>
            <a href="whatsapp://send?phone=+905078116504" class="template-for-contact-item"><i class="fa fa-envelope mr-1"></i>Mesaj</a>
            <a href="mailto:cduhukuk@gmail.com" class="template-for-contact-last-item"><i class="fa fa-solid fa-at"></i> Mail</a>
        </div>
    </div>

    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="~/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="~/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Slick js -->
    <script src="~/js/slick.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- imagesloaded.pkgd.min js -->
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <!-- wow js -->
    <script src="~/js/wow.min.js"></script>
    <!-- Skill bar js -->
    <script src="~/js/skill.bars.jquery.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- counter top js -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- video js -->
    <script src="~/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- magnific popup js -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Nivo slider js -->
    <script src="~/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- contact form js -->
    <script src="~/js/contact.form.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>