@model BlogContentDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<script src="https://cdn.tiny.cloud/1/qf8ep2neeuxaorpixr6fau37fw7xpa6xauxzt6cpp9tmwem3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4>Blog Detayı</h4>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.BlogContent?.Count > 0)
                {
                    @foreach (var item in Model.BlogContent)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><button class="btn btn-outline-danger" onclick="deleteContent('@item.Id')">Sil</button></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">İçerik Bulunamadı</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt-1">
            <button class="form-control btn-primary" data-toggle="modal" data-target="#exampleModalCenter">İçerik Ekle</button>
        </div>
        <div class="mt-2">
            <button class="form-control btn-success" data-toggle="modal" data-target="#previewModal">İçeriği Önizle</button>
        </div>
        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Blog Detay Önizlemesi</h5>
                    </div>
                    <div class="modal-body">
                        @foreach (var item in Model?.BlogContent)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h5>@item.Title</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>










        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Blog Detay Oluştur</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Başlık</label>
                                <input type="text" class="form-control" id="blog-detail-title">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">İçerik</label>
                                <textarea id="blog-detail-content"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="CreateBlogContent(@Model?.BlogId)">Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        tinymce.init({
        selector: 'textarea#blog-detail-content',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
    function CreateBlogContent(blogId) {
        var title = $("#blog-detail-title").val();
        
        var description = tinymce.get("blog-detail-content").getContent();
        var data = {
            title,
            description,
            blogId
        };
        var parameters = {
            url: "/Blog/CreateBlogContent",
            data
        };
        var result = serviceWorker.Actions.Post(parameters);
        if (result.status == 1) {
            swal("Yeni İçerik Oluşturuldu  !", " Lütfen sayfanın yenilenmesini bekleyin !", "success");
            setTimeout(() => { window.location.reload(); },1000)
            
        }
        else {
            swal("Bir Hata Oluştu");
        }
    }
    function deleteContent(contentId){
        var data = {
            contentId
        };
        var parameters = {
            url: "/Blog/DeleteContent",
            data
        };
        var result = serviceWorker.Actions.Post(parameters);
        if (result.status == 1) {
            swal("Silme işlemi başarılı", " Lütfen sayfanın yenilenmesini bekleyin !", "success");
            setTimeout(() => { window.location.reload(); },1000)
        }
        else {
            swal("Bir Hata Oluştu");
        }
    }
</script>